<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading"><%= t('world_happen') %></p>
    <a class="panel-block">
      <%= t('follow') %>
    </a>
    <a class="panel-block">
      <%= t('hear') %>
    </a>
    <a class="panel-block">
      <%= t('join') %>
    </a>
  </nav>
</div>
